body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(236, 236, 236);
}

h1{
    color: rgb(197, 158, 208);
}

.calculator{
    background-color: rgb(184, 201, 255);
    padding: 20px;
    height: 300px;
}

#display{
    width: 100%;
    box-sizing: border-box;
}