*{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.calculadora{
    top: 25%;
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    background-color: rgb(16, 16, 16);
    padding: 20px;
    border-width: 2px;
    border-color: rgb(33, 196, 196);
    border-radius: 10px;
    border-style: solid;
}

.botoes {
    margin: 50px;
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 250px;
    height: 100%;
    background-color: transparent;
}

.input{
    flex:1;
    width: 100%;
    height: 30px;
    display: flex;
    text-align: right;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 20px;
    border-color: rgb(119, 220, 220);
    border-width: 2px;
}

.box {
    flex:1;
    background-color: transparent;
    width: 70%;
    justify-content: left;
}

.button{
    margin: 5px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-color: rgb(119, 220, 220);
    border-width: 2px;
    color: white;
    font-size: 20px;
}

.num{
    background-color: transparent;
    width: 70%;
    justify-content: left;
}

.complements{
    background-color: transparent;
}