body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(255, 226, 226);
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color: rgb(197, 158, 208);
}

.calculator{
    background-color: rgb(184, 201, 255);
    padding: 20px;
    height: 300px;
    border-radius: 15px;
    border: 2px solid rgb(213, 213, 213);
}

#display{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background-color: rgb(221, 229, 255);
    text-align: right;
}

.box-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

button{
    margin: 5px;
    height: 35px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

button:hover{
    background-color: rgb(239, 196, 228);
    cursor: pointer;
    transition: .5s;
    border: 1px solid white;
    color: white;
}

.btn-zero{
    grid-column: 1 / 3;
}

.btn-equal{
    grid-row: 4 / 6;
    grid-column: 4;
    height: 90%;
    box-sizing: border-box;
}